.messages {
    padding: 3% 12%;
}

.msg-container {
    padding: 3% 2%;
    border-radius: 15px;
    background-color: #C9ADA7;
    max-height: 70%;
    overflow-y: auto;
}

/* Message Headers */
.messages .msg-container h2 {
    color: #4A4E69;
}

/* Individual Messages */
.messages .msg-container .user,
.messages .msg-container .other_user {
    width: 45%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

/* User's Messages */
.messages .msg-container .user {
    background-color: #D0CCD0;
    color: #22223B;
    margin-left: auto;
    text-align: right;
    padding-right: 2%;
}

/* Other User's Messages */
.messages .msg-container .other_user {
    background-color: #9A8C98;
    color: #22223B;
    margin-right: auto;
    padding-left: 2%;
}

/* Message Sender */
.messages .msg-container .user strong,
.messages .msg-container .other_user strong {
    color: #4A4E69;
}

/* Message Timestamp */
.messages .msg-container small {
    color: #4A4E69;
}

/* Message Input Forms */
.messages form {
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
}

.messages form input[type="text"],
.messages form input[type="number"] {
    flex: 1;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #4A4E69;
    border-radius: 5px;
    background-color: transparent;
}

.messages form input[type="submit"],
.messages form button[type="button"] {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4A4E69;
    color: #22223B;
    cursor: pointer;
    transition: all ease 0.3s;
}

.messages form input[type="submit"]:hover,
.messages form button[type="button"]:hover {
    background-color: #22223B;
    transition: all ease 0.3s;
}

/* Styling for the negotiation form */
#proposalForm input[type="number"] {
    padding: 10px;
    border: 1px solid #4A4E69;
    border-radius: 5px;
    background-color: transparent;
    color: #22223B;
}

#proposalForm button[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #4A4E69;
    color: #F2E9E4;
    cursor: pointer;
    transition: all ease 0.3s;
}

#proposalForm button[type="submit"]:hover {
    background-color: #22223B;
    transition: all ease 0.3s;
}

#proposalForm {
    background: #9A8C98;
    margin: 0;
    padding: 10px;
    padding-bottom: 1px;
    border-radius: 10px;
}

/* Counter Offer and Accept Proposal Buttons */
a.accept-offer,
button.counter-offer {
    padding: 5px 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #4A4E69;
    color: #F2E9E4;
    cursor: pointer;
    transition: all ease 0.3s;
    text-decoration: none;
}

a.accept-offer:hover,
button.counter-offer:hover {
    background-color: #22223B;
    transition: all ease 0.3s;
}

/* Counter Offer Form */
.counter-offer-form {
    display: none;
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #4A4E69;
    border-radius: 10px;
    background-color: #F2E9E4;
    color: #22223B;
}

.counter-offer-form input[type="number"] {
    padding: 10px;
    border: 1px solid #4A4E69;
    border-radius: 5px;
    background-color: transparent;
    color: #22223B;
    margin-right: 10px;
}

.counter-offer-form button[type="submit"] {
    padding: 10px 20px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4A4E69;
    color: #F2E9E4;
    cursor: pointer;
    transition: all ease 0.3s;;
}

.counter-offer-form button[type="submit"]:hover {
    background-color: #22223B;
    transition: all ease 0.3s;
}

