@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #F2E9E4;
    padding: 0;
    margin: 0;
    color: #22223B;
}

/* header */
header{
    border-bottom: 1px solid #C9ADA7;
    padding: 20px;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #22223B;
}

header a {
    text-decoration: none;
    color: #22223B;
}

#login, .profile {
    width: 10rem;
    height: 3rem;
    flex-shrink: 2;
    border-radius: 1rem;
    border: 1.5px solid #C9ADA7;
    background: #C9ADA7;
    color: #22223B;
    text-align: center;
    font-family: "Hanken Grotesk";
    font-size: 2rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: lowercase;
    transition: all 0.25s ease;
}

.wishlist, .chat, [id^="wish"]{
    font-size: 2rem;
    padding: 0.5em;
}

#login:hover, .profile:hover {
    background:#ceb5b0;
    border: 2px solid #ceb5b0;
    transition: all 0.25s ease;
}

#register, .logout {
    width: 10rem;
    height: 3rem;
    flex-shrink: 2;
    border-radius: 1rem;
    background: transparent ; 
    border: 1.5px solid #C9ADA7;
    color: #22223B;
    text-align: center;
    font-family: "Hanken Grotesk";
    font-size: 2rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: lowercase;
    transition: background 0.25s ease;
}

#register:hover, .logout:hover {
    background:#C9ADA7;
    transition: background 0.25s ease;
}



/* navigation */

nav {
    border-bottom: 1px solid #C9ADA7;
}

nav li a , li h3{
    color: #22223B;;
    text-decoration: none;
}

nav li:hover a {
    color: #9A8C98;
}

body > header > #searchbar {
    color: #555;
    padding: 0;
    border: none;
    border-radius: 2em;
}

body > header > #searchbar > input[type=text] {
    width: 100%;
    border: 1px solid #555;
    display: block;
    padding: 9px 4px 9px 40px;
    font-size: 25px;
    text-align: center;
    color: inherit;
    border-radius: 2em;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    outline: none;
}

input[type="search"]::placeholder {
    color: #bbb;
}

/* main */

#random_items .card {
    width: 15%;
    margin: 2.5%;
    padding: 0;
    border-radius: 30px;
    background: #C9ADA7;
    box-shadow: 2px 2px 10px #9A8C98;
}

@media screen and (max-width: 1500px) { /* 4 cards */
    #random_items .card {
        width: 20%;
    }
}
@media screen and (max-width: 1200px) { /* 3 cards */
    #random_items .card {
        width: 25%;
    }
}
@media screen and (max-width: 900px) {
    #random_items .card {
        width: 35%;
    }
}
@media screen and (max-width: 600px) {
    #random_items .card {
        width: 45%;
    }
}

#random_items > .card > a {
    display: inline-block; 
    width: fit-content;
    height: fit-content; 
    margin: 10px;
    padding: 0;
}

#random_items > .card > a > img {
    display: block; 
    width: 100%; 
    height: auto; 
    border-radius: 25px;
}


#random_items > .card > p {
    text-align: center;
}

/* footer */

footer {
    background-color: #9A8C98;
    text-align: center;
    padding: 20px;
}

/* fonts */



* {
    font-family: 'Hanken Grotesk', sans-serif;
}

#prod_price {
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}
p {
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

header h1 {
    font-size: 34px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

h1 a {
    text-decoration: none;
    color: initial;
}

nav {
    font-size: 28px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

.modalheader {
    color: #22223B;
    text-align: center;
    font-family: "Hanken Grotesk";
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: lowercase;
}

#loginfields input::placeholder, #registerfields input::placeholder {
    color: #4A4E69;
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-transform: lowercase;
}

#loginfields button, #registerfields button {
    color: #F2E9E4;
    text-align: center;
    font-family: "Hanken Grotesk";
    font-size: 32px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: lowercase;
}

#registermodal input, #loginmodal input {
    color: #4A4E69;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-transform: lowercase;
    outline: none;
}

body > header > #searchbar > input[type=text] {
    color: #22223B;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    text-transform: lowercase;
}

/* modal */

#fadeLogin, #fadeRegister, #loginmodal, #registermodal {
    transition: 0.25s;
    opacity: 1;
    pointer-events: all;
}

#fadeLogin, #fadeRegister{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(149, 143, 143, 0.46);
    backdrop-filter: blur(12.5px);
}

#loginmodal, #registermodal {
    background: #D9D9D9;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 600px;
    max-width: 90%;
    height: 750px;
    max-height: 90%;
    padding: 1.2rem;
    border-radius: 20px;
    box-shadow: 0px 0px 50px 5px rgba(0, 0, 0, 0.25);
}

.modalheader {
    text-align: center;
    padding: 1rem;
}

#loginmodal.hide, #registermodal.hide, #fadeLogin.hide, #fadeRegister.hide {
    opacity: 0;
    pointer-events: none;
}

#loginmodal.hide, #registermodal.hide {
    top: 0;
}

#loginfields input:focus, #registerfields input:focus {
    outline: none;
}


#loginfields input, #registerfields input{
    border: none;
    background: none;
    border-bottom: 1px solid #4A4E69;
    width: 75%;
    margin: 20px;
    padding: 5px;
}

#loginfields button, #registerfields button {
    border-radius: 15px;
    border: none;
    background: #4A4E69;
    box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.25);
    width: 30%;
    height: 75px;
    transition: background 0.25s ease;
}


#loginfields button:hover, #registerfields button:hover {
    background:#3c4152;
    transition: background 0.5s ease;
}

#closebtnL, #closebtnR {
    border: none;
    background: none;
    color: #9A8C98;
    font-size: 30px;
    position: absolute;
    top: 3%;
    right: 3%;
}
#itemList {
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    background-color: #fff;
    border: 1px solid #ccc;
}

#itemList li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000;
}

#itemList li a:hover {
    background-color: #f0f0f0;
}

/* Profile Picture */

#registermodal #photoContainer {
    position: absolute;
    top: 5%;
    left: 10%;
}

#webcamStream {
    border-radius: 50%;
    object-fit: cover;
}

#photoPreview {
    border-style: solid;
    border-color: #4A4E69;
    border-radius: 50%;
    object-fit: cover;
    width: 125px;
    height: 125px;
}

header #userpic {
    border-style: solid;
    border-color: #4A4E69;
    border-radius: 50%;
    object-fit: cover;
    height: 3rem;
    width: 3rem;
}

/* Subcategories */
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    border-radius: 1rem;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 1rem;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  li:hover .dropdown-content {display: block;}

/* Feed Filters */

    #feed_menu {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding-left: 5%;
    }

    #filter_menu, #sort_menu {
        display: flex;
        flex-direction: row;
        gap: 2em;
        align-items: center;
    }

    #sort_options, #filter_options, #applied_filters {
        display: flex;
        flex-direction: row;
        gap: 3em;
        margin: 0;
    }

    #sort_options *, #filter_options *{
        font-size: 20px;
    }

    #filter_menu h2, #sort_menu h2 {
        margin: 0;
    }

    #filter_btn, #sort_btn {
        font-size: 2rem;
    }

    #reset_order, #reset_filters {
        color: red;
        background-color: transparent;
    }

    #reset_order:hover, #reset_filters:hover {
        background-color:#fbd9d3;
    }

    [id^="drop-filter"] {
        display: none;
        border-radius: 1rem;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
      
    [id^="drop-filter"] * {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        border-radius: 1rem;
        border-style: none;
    }
      
    [id^="drop-filter"] div:hover {
        background-color: #ddd;
    }
      
    li:hover [id^="drop-filter"] {display: block;}

    #filter_menu ul {
        padding: 0;
    }

    #feed_menu li {
        text-align: center;
        list-style-type: none;
    }

    #feed_menu h3 {
        font-weight: normal;
        margin: 0;
    }

    #sort_menu h3, #reset_filters {
        padding: 1em;
        border-radius: 1.5rem;
    }

    #feed_menu h3:hover, #sort_btn:hover, [id^="drop-filter"] > div:hover {
        cursor: pointer;
    }

    /* Price Filter */

    [id^="drop-filter"] input {
        margin: 1em;
    }

    [id^="drop-filter"] input:focus {
        outline: none;
    }

    [id^="drop-filter"] form { 
        padding: 0;
    }

    [id^="drop-filter"] button {
        margin: auto;
    }

    /* Applied Filters */

    #applied_filters {
        padding: 0;
    }

    [id^="applied_filters"] *{
        background-color: #f08080;
        padding: 1rem;
        border-radius: 5rem;
    }

    [id^="applied_filters"] *:hover {
        cursor: pointer;
        background-color: #f39f9f;
    }

/* Profile Page */

    main > #photoContainer, main > form {
        margin: auto;
    }    
